body {
    font-family: 'Inter', sans-serif;
    background-color: #492201;
    margin: 0;
    padding: 0;
  }

  .logo{
    
   
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    
  }
  img{
    border-radius: 50%;
    margin-top: 3rem;
  }
  
  .auth-container {
    max-width: 400px;
    margin: 5rem auto;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  
  .form-toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .form-toggle button {
    flex: 1;
    padding: 0.75rem;
    font-weight: bold;
    cursor: pointer;
    background-color:  #855832;
    color: white;
    border: none;
  }

 
  
  .auth-form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-form input {
    margin: 0.5rem 0;
    padding: 0.75rem;
    font-size: 1rem;
  }
  
  .auth-form button {
    margin-top: 1rem;
    padding: 0.75rem;
    background-color:  #855832;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
  .error-msg {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #85573277;
    color: #fff;
  }